#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  display:flex;
  justify-content: space-around;
}

body {
  background-color: #252525
}

.block {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;

}
img {
  width: 500px;
}

.cartIcon {
  width:70px;
}

.categoryButtonSelected {
  background-color: green;
}

.categoryButton:hover {
  background-color: #fdeb6b;
}

.categoryButton {
  cursor: pointer;
  margin: 5px;
  padding: 5px;
}

p, h1, h2, button {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

h1 {
  margin-bottom: 20px;
}

button {
  background-color: #fdeb6b;
  margin: 20px 10px;
  border: 1px solid white;
  padding: 5px;
}

.total {
  margin-top: 30px;
}
.icon {
  width:20px;
}

@media screen and (max-width: 900px) {

  p, h1, h2, button {
    font-size: 15px;
  }

  img {
    width: 350px;
  }

  .cartIcon {
    width: 50px;
  }
}

@media screen and (max-width: 500px) {

  p, h1, h2, button {
    font-size: 10px;
  }

  img {
    width: 250px;
  }

  .cartIcon {
    width: 30px;
  }
}

